{% extends "base.html" %} {% load static %} {% block title %} Home Page
{%endblock title %} {% block content %}

<div class="container">
  <div class="row justify-content-evenly">
    {% for item in meals %}

    <div class="col-md-4 my-2">
      <div class="card" style="width: 18rem">
        <img src="{{item.strMealThumb}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{item.strMeal}}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
